<html>
    <body>
        <button onclick="location.href='/products';">Product List</button>
        <form action="/products/<% if(!result){console.log(result);%><%="add"%><% }else{%><%=result.id+"/edit"%>"<%} %>" method="POST" enctype="multipart/form-data">
            <label>Title</label>
            <input type="text" name="title" value="<% if(result){%><%=result.title%><%}%>">
            <label>Price</label>
            <input type="number" name="price" value="<% if(result){%><%=result.price%><%}%>">
            <label>Stock</label>
            <input type="number" name="stock" value="<% if(result){%><%=result.stock%><%}%>">
            <label>Category</label>
            <select name="category">
                <option value="Personal Computer" <% if(result){if(result.category=="Personal Computer"){ %><%="selected"%> <% }}%>>Personal Computer</option>
                <option value="Smartphone" <% if(result){if(result.category=="Smartphone"){%><%="selected"%> <% }}%>>Smartphone</option>
            </select>
            
            <label>Image Upload </label>
            <div>
                <label>Upload picture</label>
                <input type="file" name="upload_file" />
            </div>
            <input type="submit">
            
            
        </form>
    </body>

</html>