<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <button onclick="location.href='/logout'">Logout</button>
  <button onclick="location.href='/products';">List Produk</button>
  <button onclick="location.href='/transactions/<%= req.session.iduser %>';">Daftar Transaksi yang selesai</button>
  <h1>Welcome to ELX Shop, <%= req.session.login %> </h1>

  <% result.forEach(element => { %>
    <div>
        <h1>Tanggal <%= dateFormat(element.transactionDate) %></h1>
        <p>Total Price: <%= element.transactionDate %></p>
        <p>Total Barang: <%= element.totalStock %></p>
        <button onclick="location.href='/transactions?finish=<%= element.id %>';">Selesaikan Transaksi</button>
    </div>
<% }); %>
</body>
</html>
