<html>

        <button onclick="location.href='/logout';">Logout</button>
<%= message %>
<button onclick="location.href='/products';">List Produk</button>
<button onclick="location.href='/users';">List User</button>
<div>
<% result.forEach(element => { %>
    <div>
        <h1>Tanggal <%= dateFormat(element.transactionDate) %></h1>
        <p>Total Price: <%= element.totalPrice %></p>
        <p>Total Barang: <%= element.totalStock %></p>
        <p>Status: <%= element.status %></p>
        <p>User: <%= element.UserId %></p>
    </div>
<% }); %>
</div>
</html>